<h1><%= @user.email %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to "編集", edit_user_path(@user) %> |
<%= link_to "削除", user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" } %> |
<%= link_to "戻る", root_path %>
